name: opensim-wasm-build

on: 
    push:

jobs:
    build-wasm:
        name: WASM Compilation
        runs-on: ubuntu-latest
        
        steps:
          - name: Checkout the current repository
            uses: actions/checkout@v4

          - name: Checkout opensim-core repository
            uses: actions/checkout@v4
            with:
                repository: opensim-org/opensim-core
                path: 'opensim-core'

          - name: Setup Emscripten
            uses: mymindstorm/setup-emsdk@v14
            with:
                version: '3.1.51'

          - name: Build opensim-core dependencies (WASM)
            run: |
                mkdir build_deps
                cd build_deps
                # Use emcmake to cross-compile dependencies for WASM
                emcmake cmake ../opensim-core/dependencies \
                    -DCMAKE_BUILD_TYPE=Release \
                    -DSUPERBUILD_ezc3d=OFF \
                    -DOPENSIM_WITH_CASADI=OFF \
                    -DOPENSIM_WITH_TROPTER=OFF \
                    -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/opensim_dependencies_install
                    
                emmake make

          - name: Build opensim-core (WASM)
            run: |
                mkdir build_wasm
                cd build_wasm
                
                # Disable features not compatible with a browser environment (like Java/Python wrapping)
                emcmake cmake ../opensim-core \
                    -DCMAKE_BUILD_TYPE=Release \
                    -DOPENSIM_DEPENDENCIES_DIR=$GITHUB_WORKSPACE/opensim_dependencies_install \
                    -DBUILD_PYTHON_WRAPPING=OFF \
                    -DBUILD_JAVA_WRAPPING=OFF \
                    -DBUILD_TESTING=OFF \
                    -DOPENSIM_WITH_CASADI=OFF \
                    -DOPENSIM_WITH_TROPTER=OFF \
                    -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/opensim-wasm-install \
                    -DCMAKE_CXX_FLAGS="-s USE_PTHREADS=0 -s WASM_BIGINT" 
                    
                emmake make install

          - name: Upload WASM Artifacts
            uses: actions/upload-artifact@v4
            with:
                name: opensim-core-wasm
                path: opensim-wasm-install/
